name: Update Active Lots

on:
  workflow_dispatch:
  schedule:
    - cron: '*/1 * * * *'
    
permissions:
  contents: write  # Allow the workflow to write to the repository contents

jobs:
  update-active-lots:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Fetch active lots
        run: |
          curl -o active-lots.json http://simnation.ddns.net:9000/userapi/city/1/city.json

      - name: Update JSON file
        run: |
          # Create the necessary structure and move the file to the correct location
          mkdir -p data
          mv active-lots.json data/active-lots.json

      - name: Commit and push changes
        run: |
          git config --local user.email "your-email@example.com"
          git config --local user.name "your-github-username"
          git add data/active-lots.json
          git commit -m "Update active lots JSON file"
          git push
